<% userPartial = "api/users/user.json.jbuilder" %>
<% teamPartial = "api/teams/team.json.jbuilder" %>

<!-- Bootstrap current user -->
<script type="text/javascript">
  <% if logged_in? %>
  window.currentUser = <%= render(userPartial, user: current_user).html_safe %>
  window.sessionStorage.setItem('team_id', <%= current_team.id %>);
  <% end %>
</script>

<main id="root">React failed to load. Check console.</main>
