// Place all the styles related to the api/channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '../utilities/variables';

input {
  display: block;
}

.channel-group {
  margin: 40px 0;
}

.channel-list {
  padding: 0 6px;
}

.channel-input {
  border-radius: 6px;
  border: 1px solid black;
  font-size: 20px;
  padding: 14px 18px;
  width: 100%;
  outline: none;
  box-sizing: border-box;

  &:focus {
    border: 1px solid dodgerblue;
    outline: none;
  }
}

.channel-item {
  padding: 4px 4px 4px 22px;
  border-radius: 5px;
  margin-left: -22px;

  &:hover {
    background: white;
  }
}

.channel-selected {
  background: $midlightgray;
  color: white;

  &:hover {
    background: $midlightgray;
  }
}

.channel-link {
  display: flex;
  justify-content: space-between;
}

.unread {
  border-radius: 6px;
  background: salmon;
  padding: 0 4px;
  color: $lightgray;
}

.channel-type-header {
  color: $midlightgray;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.modal-content {
  width: 60%;
  margin: 50px auto;
}

.channel-options {
  width: 100%;
  margin-top: 10px;
}

.channel-option {
  width: 100%;
  border-top: 1px solid $midlightgray;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  padding: 10px;
  box-sizing: border-box;

  &:hover {
    background: #edf7fd;
    border: 1px solid #d3ecfa;
    border-radius: 6px;
  }
}

.channel-option-row {
  padding: 2px 4px;
}

.close-button {
  background: none;
  border: none;
  position: absolute;
  outline: none;
  right: 0;
  top: 0;
}

small {
  font-size: 14px;
  color: #5a5a5a;
  padding-bottom: 10px;
  padding-top: 5px;
  display: block;
}

.channel-form {
  margin-top: 20px;
}

.channel-button {
  border-radius: 3px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  margin: 3px 4px;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
}

.channel-label {
  padding-bottom: 2px;
  display: block;
}

.channel-buttons {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.button-cancel {
  color: $darkgray;
  background: $lightgray;
  border: 1px solid $midlightgray;
}

.button-confirm {
  color: white;
  background: $mintgreen;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leave-button {
  background: $lightgray;
  padding: 4px;
  border: 1px solid $mediumgray;
  border-radius: 6px;
}
