.chat-container {
  // background: url("https://raw.githubusercontent.com/AdamJacobson/Tension-Chat/master/docs/wireframes/chat-details.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  height: inherit;
}

.chat-right-container {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
}
