.chat-container {
  background: url("https://raw.githubusercontent.com/AdamJacobson/Tension-Chat/master/docs/wireframes/chat-details.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
