.chat-container {
  // background: url("http://res.cloudinary.com/dwczmcdof/image/upload/v1500672571/slack-details_pndeyo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  height: inherit;
}

.chat-right-container {
  flex-direction: column;
  background: white;
  display: flex;
  height: inherit;
  width: 100%;
}
