@import "../utilities/variables";

.messages-container {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: 100%;
  overflow-y: auto;
}

.messages-content {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.messages-list {
  overflow-y: auto;
  margin-bottom: 10px;
}

.message-input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid $darkgray;
  font-size: 16px;
  height: 32px;
  padding-left: 10px;
}

.message-content {
  padding-left: 5px;
}

.message-body {
  padding-top: 5px;
}

.message-form {

  button {
    display: none;
  }
}

.avatar {
  font-size: 40px;
}

.message {
  margin: 4px;
}

time {
  font-style: italic;
  font-size: 10px;
  color: $midlightgray;
}
