@import "../utilities/variables";

.messages {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: 100%;
  overflow-y: auto;
}

.message {
  margin: 4px;
}

time {
  font-style: italic;
  font-size: 10px;
  color: $midlightgray;
}
