$lightgray: #f9f9f9;
$midlightgray: #c3c4c5;
$mediumgray: #5a5a5a;
$darkgray: #2f2f2f;
$mintgreen: #42c299;
$mintgreenshadow: #309272;
$magenta: #e32072;

.auth-page {
  background: $lightgray;
  height: 100vh;
}

.auth-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: $darkgray;
  margin: 120px auto;
}

.auth-form {
  align-items: center;
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 650px;
}

.auth-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
  width: 55%;
}

strong {
  font-weight: bold;
}

h2 {
  font-size: 40px;
  padding: 25px;
  margin: 10px;
}

.auth-input {
  border-radius: 6px;
  border: 1px solid black;
  font-size: 20px;
  padding: 14px 18px;
  margin: 11px 16px;
  width: 50%;

  &::-webkit-input-placeholder {
    color: $midlightgray;
  }

  &::-moz-placeholder {
    color: $midlightgray;
  }

  &:-ms-input-placeholder {
    color: $midlightgray;
  }

  &:-moz-placeholder {
    color: $midlightgray;
  }

  &:hover {
    border: 1px solid dodgerblue;
  }

  &:focus {
    border: 1px solid dodgerblue;
    outline: none;
  }
}

.auth-footer-text {
  margin: 15px;
}
