@mixin long-shadow($type, $color, $length, $fadeout: true, $skew: false, $direction: right){
  $shadow: '';
  @if $skew == false or $type == text{
    @if $direction == right {
      @for $i from 0 to $length - 1 {
        $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $color + ',';
      }
    }
    @if $direction == left {
      @for $i from 0 to $length - 1 {
        $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' + $color + ',';
       }
      }
     }

   @if $fadeout == true{
    @for $i from 1 to $length - 1 {
      @if $type == text or $skew == false{
        @if $direction == right{
          $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' +       rgba($color, 1 - $i / $length) + ',';
        }
        @if $direction == left{
          $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' +       rgba($color, 1 - $i / $length) + ',';
        }
      }
      @if ($type == box) and $skew == true{
        @if $direction == right {
          $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $i * .2 + 'px ' + rgba($color, 1 - $i / $length) + ',';
        }
        @if $direction == left {
          $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' + $i * .2 + 'px ' + rgba($color, 1 - $i / $length) + ',';
        }
      }
  }
  $shadow: $shadow + $length + 'px ' + $length + 'px 0 ' + rgba($color, 0);
 }
 @if $fadeout == false{
   @if $skew == true and ( $type == box ){
     @for $i from 0 to $length - 1 {
            $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $i * .1 + 'px ' + $color + ',';
      }
   }
    $shadow: $shadow + $length + 'px ' + $length + 'px 0 ' + rgba(0,0,0,0);
 }
 $shadow: unquote($shadow);
  @if $type == 'box' {box-shadow: $shadow;}
  @if $type == 'text' {text-shadow: $shadow;}
}

html {
  // background-image: url("https://image.ibb.co/cRqoUk/slack_splash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Lato';
  background: #e3e4e5;
}

.splash-page {

}

.splash-content {
  width: 470px;
  margin-left: 16%;
  margin-top: 150px;
}

.splash-text {
  font-size: 77px;
  line-height: 80px;
  font-weight: 700;
  @include long-shadow($type: text, $color: #cfd1d3, $length: 500, $fadeout: false, $skew: true, $direction: left);
}

.splash-tagline {
  font-size: 16px;
  margin-top: 17px;
}

.asterisk {
  color: #e32072;
  text-shadow: none;
}

a.button {
  background: #42c299;
  text-decoration: none;
  padding: 10px 40px;
  color: white;
  font-size: 14px;
  margin: 10px 0;
  display: inline-block;
  border-radius: 3px;
}
