@import '../utilities/variables';

h3 {
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-size: 15px;
}

.clickable {
  cursor: pointer;
}

.team-container {
  border-right: 1px solid $midlightgray;
  min-width: 225px;
}

.team-content {
  padding: 12px;
}

.available {
  color: #00eb18;
}

.username {
  color: $mediumgray;
  padding: 0 5px;
  display: inline-block;
  margin: 5px 0;
}

.user-status {
  font-size: 14px;
}

select.team-select {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  height: 40px;
  margin: 11px 16px;
  text-overflow: ellipsis;
  width: 55%;

  &:focus {
    outline: none;
  }
}

.dropdown {
  display: none;
}

.dropdown-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dropdown-content {
  width: 200px;
  z-index: 1;
  position: absolute;
  background: white;
  border-radius: 6px;
  border: 1px solid $borderLight;
}

.dropdown-section {
  padding: 10px;
}

.fill {
  width: 100%;
  display: block;
}

.dropdown-item {
  padding: 4px;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background-color: #2D9EE0;
    color: $lightgray;
  }
}

.show {
  display: block;
}

.divider {
  height: 1px;
  border-top: 1px solid $borderLight;
}
