@import '../utilities/variables';

h3 {
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-size: 15px;
}

.clickable {
  cursor: pointer;
}

.team-container {
  border-right: 1px solid $midlightgray;
  min-width: 225px;
}

.team-content {
  padding: 12px;
}

.available {
  color: #00eb18;
}

.username {
  color: $mediumgray;
  padding: 0 5px;
  display: inline-block;
  margin: 5px 0;
}

.user-status {
  font-size: 14px;
}

select.team-select {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  height: 40px;
  margin: 11px 16px;
  text-overflow: ellipsis;
  width: 55%;

  &:focus {
    outline: none;
  }
}
