.team-container {
  border: 1px solid;
  min-width: 225px;
}

select.team-select {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  height: 40px;
  margin-bottom: 18px;
  text-overflow: ellipsis;
  width: 55%;

  &:focus {
    outline: none;
  }
}
