// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "utilities/variables";
@import "utilities/mixins";

html {
  // background: #e3e4e5;
  font-family: 'Lato';
  // background-image: url("https://image.ibb.co/cRqoUk/slack_splash.jpg");
  // background-image: url("https://raw.githubusercontent.com/AdamJacobson/Tension-Chat/master/docs/wireframes/login.png");
  // background-repeat: no-repeat;
  // background-size: cover;
}
a {
  color: #1379ff;
  text-decoration: none;
}

.splash-page {
  background: #e3e4e5;
  height: 100vh;
  color: $darkgray;
}

.splash-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-light {
  background: white;
  border-bottom: 1px solid $midlightgray;
}

.header-logo {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.header-options {

}

.header-option {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: $mediumgray;
  padding: 5px;
  border-radius: 3px;

  &:hover {
    color: $darkgray;
    background: lightgray;
  }
}

.splash-page {

}

.splash-content {
  width: 650px;
  margin-left: 18%;
  margin-top: 90px;
}

.splash-text {
  font-size: 100px;
  line-height: 80px;
  font-weight: 700;
  @include long-shadow($type: text, $color: #cfd1d3, $length: 600, $fadeout: false, $skew: true, $direction: left);
}

.splash-tagline {
  font-size: 20px;
  margin-top: 17px;
}

.splash-footer {
  background: white;
  height: 200px;
  z-index: 1;
  position: relative;
  margin-top: 300px;
}
.asterisk {
  color: $magenta;
  text-shadow: none;
}

.button {
  background: $mintgreen;
  border-radius: 3px;
  border: none;
  border-bottom: 3px solid transparent;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  margin: 10px 0;
  width: 165px;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;

  &:hover {
    border-bottom: 3px solid $mintgreenshadow;
  }
}
